{% extends 'base.html.twig' %}

{% block title %}Admin. | {{ parent() }}{% endblock %}

{% block body %}
    <div class="admin-page">
        <div class="container">
            <table class="table table-striped">
                <a href="{{ path('crypto_add') }}" class="btn btn blue darken-4" style="float: right">Ajouter</a>

    <div class="container mt-3">
        <h2> Utilisateurs </h2>
        <table class="table table-striped">
            <br>
            <tr>
                <th> # </th>
                <th>Username</th>
                <th>Rôle</th>
                <th>Actions</th>

            </tr>
            {% set j = 1 %}
            {% for user in users %}
                <tr>
                    <td>{{j}}</td>
                    <td>{{user.username}}</td>
                    <td>
                              {% for elem in user.roles %}
                                 {% if elem == 'ROLE_ADMIN' %}
                                    <span class="badge red">
                                        admin.
                                    </span>
                                 {% else %}
                                     <span class="badge blue">
                                        user.
                                    </span>
                                {% endif %}
                              {% endfor %}

                    </td>
                    <td>
                        <a href=""><i class="material-icons red-text">delete</i></a>
                    </td>

                </tr>
                {% set j = j+1 %}
            {% endfor %}

        </table>
    </div>

{% endblock %}