<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Crypto Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Crypto Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href=/afficher>Home</a></li>
            {% if app.user %}
                <li><a href="logout">Déconnexion</a></li>
                <li><a href="/favs">Favoris</a></li>
            {% else %}
                <li><a href="/login">Connexion</a></li>
            {% endif %}
            <li><a href="/register">Créer compte</a></li>
            <li><a href=/filtre>Filtrer</a></li>

        </ul>
        <button class="btn btn-danger navbar-btn"><a href="/admin">Admin</a></button>
    </div>
</nav>

{% block body %}

{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>