{% extends 'base.html.twig' %}

{% block body %}

    {{form_start(formulaire)}}

    {{form_widget(formulaire)}}


    <div>
        <button type="submit">Enregistrer Commentaire</button>
    </div>

    {{form_end(formulaire)}}
{% endblock %}
